html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
p {
  font-weight: lighter;
}
.content {
  flex: 1 0 auto;
}

.container-fluid {
    padding: 70px 0 20px;
}

.container > .container-fluid {
  margin-left: 0;
  max-width: 800px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.links {
  display: flex;
  flex-direction: row;
}

.navbar-nav li a{
  margin-left: 5px;
  letter-spacing: 5px;
  color: #fff8;
  text-transform: uppercase;
}

.active a,
.navbar-nav li a:hover {
    font-weight: normal;
    color: #fff !important;
}

.page-title {
  margin-bottom: 30px;
}

form > div > input,
form > div > textarea {
  margin: 5px 0;
  max-height: 375px;
}
textarea[type="text"]:focus,
input[type="text"]:focus,
.uneditable-input:focus {
  border: 1.5px solid #000;
  box-shadow: 0 0 8px #0005;
  outline: 0 none;
}
.new-post-text {
  max-width: 750px;
}

.new-post {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0 30px;
  margin-left: 15px;
  transition: background-color 0.5s, color 1s, padding 0.5s, letter-spacing 0.5s;
}

.new-post-active,
.new-post:hover{
  background-color: #fff;
  color: #000;
  letter-spacing: 7px;
  padding: 0 32px;

}

.btn {
  font-size: 0.9rem;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 5px 30px;
  transition: background-color 0.25s,padding 0.5s, letter-spacing 0.5s;
}

.btn-dark:disabled {
  background-color: #000a;
}

.btn-dark:hover{
  background-color: #000;
  padding: 5px 32px;
  letter-spacing: 7px;
}

.nav-item {
  border-bottom: 2px solid #fff0;
}

.active {
  border-bottom: 2px solid #fff;
}


.post-tile {
  /* border-top: 2px solid #0003; */
  padding: 20px 0 25px;
  transition: padding 0.5s, background-color 0.25s;
}
.post-tile:hover {
  padding: 25px 10px 30px;
  background-color: #00000008;
}
.post-tile-title {
  font-size: 16px;
  margin-right: 10px;
}
.post-tile-date {
  font-size: 12px;
  font-weight: normal;
  color: #0005;
}
.post-tile-body {
  max-width: 750px;
  font-size: 15px;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
  margin-top: 40px;
  flex-shrink: 0;
	text-align: center;
	background-color: #D5DAE0;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: normal;
  color: #333;
}
